<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training - Florian Dahlitz</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Training Page of Florian Dahlitz"/>
    <meta name="keywords"
          content="training, courses, resources, florian dahlitz, florian, dahlitz, coding, programming, python, c, java"/>
    <meta name="author" content="Florian Dahlitz"/>

    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="{{ twitter_title }}"/>
    <meta property="og:image" content="{{ url_for('static', filename='images/' + twitter_image_url) }}"/>
    <meta property="og:url" content="{{ twitter_url }}"/>
    <meta property="og:description" content="{{ twitter_description }}"/>
    <meta name="twitter:title" content="{{ twitter_title }}"/>
    <meta name="twitter:description" content="{{ twitter_description }}"/>
    <meta name="twitter:image" content="{{ url_for('static', filename='images/' + twitter_image_url) }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@DahlitzF"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Favicon -->
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64"
          href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
        <div class="container topnav">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/brand-icon.png') }}"
                                                  alt="Brand Icon"> Training</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://florian-dahlitz.de" target="_blank">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://florian-dahlitz.de/contact" target="_blank">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="header banner">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <img src="{{ url_for('static', filename='images/banner.jpg') }}" alt="Page Header">
                <div class="banner-caption">
                    <h1 class="display-4">Florian Dahlitz' Training Page</h1>
                    <h2 class="text-muted">Landing Page for Course-related Resources</h2>
                </div>
            </div>
        </div>
    </div>
    {% block contents %}
    {% endblock %}
    <footer class="page-footer font-small bg-dark d-flex justify-content-center">
        <div class="footer-copyright text-center py-3">&copy; {{ now.year }} Copyright Florian Dahlitz. All Rights Reserved.
        </div>
    </footer>

    <!-- Load JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>