.bg-dark {
    background-color: #1F282D !important;
}

.card {
    height: 100%;
    padding: 0;
}

.card-link {
    color: inherit;
}

.card-link:hover {
    color: inherit;
}

.card-link:hover .card-title {
    text-decoration: underline;
}

.card-img-top {
    width: 100%;
    height: 10.5vw;
    object-fit: cover;
}

.navbar {
    border-bottom: 2px solid black;
}

.navbar-brand > img {
    max-height: 30px;
    margin-right: 0.5em;
}

.banner {
    overflow: hidden;
    height: 600px;
    width: 100%;
}

.banner-caption {
    color: #263238;
    position: absolute;
    text-align: center;
    top: 200px;
}

.banner-caption h1 {
    font-size: 5em;
}

.banner-caption h2 {
    color: #36454c;
}

.content-section-a, .content-section-b {
    color: #fff;
    min-height: 300px;
    width: 100%;
    padding: 3em 0;
}

.content-section-a {
    background-color: #263238;
}

.content-section-b {
    background-color: #1F282D;
}

.page-footer {
    color: #fff;
    min-height: 100px;
    align-items: center;
}
