.bg-dark {
    background-color: #1F282D !important;
}

.navbar-brand > img {
    max-height: 30px;
    margin-right: 0.5em;
}

.banner {
    opacity: 0.5;
    filter: alpha(opacity=50);
    overflow: hidden;
    height: 600px;
    width: 100%;
}

.content-section-a, .content-section-b {
    color: #fff;
    min-height: 300px;
    width: 100%;
    padding: 3em 0;
}

.content-section-a {
    background-color: #263238;
}

.content-section-b {
    background-color: #1F282D;
}

.page-footer {
    color: #fff;
    min-height: 100px;
    align-items: center;
}
