{% extends "shared/layout.html" %}
{% block contents %}
    <div class="content-section-b d-flex justify-content-center">
        <div class="row justify-content-center align-self-center text-center">
            <div class="col-sm-12">
                <h1>Find the Resources You Need</h1>
            </div>
        </div>
    </div>
    <div class="content-section-a d-flex justify-content-center">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 d-flex justify-content-center">
                    <a class="card-link" href="https://python-training-beginners.florian-dahlitz.de">
                        <div class="card col-12 col-sm-9 col-md-12 bg-dark">
                            <img src="{{ url_for('static', filename='images/thumbnails/python-beginners.png') }}"
                                 class="card-img-top" alt="Python for Beginners Thumbnail">
                            <div class="card-body">
                                <h5 class="card-title">Python for Beginners</h5>
                                <p class="card-text">
                                    Link to the supporting course materials for the <em>Python for Beginners</em> course.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col mb-4 d-flex justify-content-center">
                    <div class="card col-12 col-sm-9 col-md-12 bg-dark">
                        <img src="{{ url_for('static', filename='images/thumbnails/introduction-to-docker.jpeg') }}"
                             class="card-img-top" alt="Introduction to Docker Thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">Introduction to Docker (SDA Edition)</h5>
                            <p class="card-text">
                                The course materials for this course are not publicly accessible.
                                Please contact the author to get access to them.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4 d-flex justify-content-center">
                    <div class="card col-12 col-sm-9 col-md-12 bg-dark">
                        <img src="{{ url_for('static', filename='images/thumbnails/more-to-come.jpg') }}"
                             class="card-img-top" alt="More to Come Thumbnail">
                        <div class="card-body">
                            <h5 class="card-title">More to Come!</h5>
                            <p class="card-text">
                                More supporting materials will be added soon. Stay tuned!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
